<div class="jumbotron">
  <h1 class="display-4">Reviews</h1>
  <p class="lead">Research your prospective classes by reading some reviews or write your own reviews to help others!</p>
  <hr class="my-4">
  <p>Reviews are categorized by Class, Professor, or Combined</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Read Reviews</a>
  <a class="btn btn-secondary btn-lg" href="#" role="button">Write a Review</a>
</div>