a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

nav .SchoolProven-logo {
  margin-right: 12px;
}

/* Bootstrap Button Customization */
.btn-primary {
  background-color: #149650;
  border-color: #149650;
}

.btn-primary:hover {
  color: #fff;
  background-color: #128347;
  border-color: #128347;
}

.btn-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #0d6335;
  border-color: #0d6335;
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0d6335;
  border-color: #0d6335;
}

.btn-primary:focus {
  color: #fff;
  background-color: #0d6335;
  border-color: #0d6335;
}

.btn-outline-primary {
  border-color: #149650;
  color: #149650;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #128347;
  border-color: #128347;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0d6335;
  border-color: #0d6335;
}

.btn-outline-primary:focus {
  color: #fff;
  background-color: #0d6335;
  border-color: #0d6335;
}

.list-group-item.active {
  background-color: #0d6335;
  border-color: #0d6335;
}

.BackButton {
  cursor: pointer;
  font-size: x-large;
}

.Home .jumbotron {
  text-align: center;
  margin: auto;
}

.Home-content {
  margin: 12px auto;
}

.Home-content-column {
  margin: 12px auto;
}

.Home-content-button {
  height: 100%;
  transition: box-shadow 0.2s;
}

.Home-content-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.InvalidMessage {
  color: #dc3545;
  margin: 12px 0;
}

.HomeToast {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  background-color: #28a745;
}

.UserIcon {
  color: #149650;
}

.Signup-form {
  margin: 48px auto;
  padding: 12px;
}

.Profile-card {
  align-items: center;
  margin: 24px auto 48px auto;
  padding: 12px;
}

.Profile-info-card {
  margin: 24px auto;
}

.Profile-endorsements {
  display: flex;
  justify-content: space-between;
}

.SearchBar {
  margin: 48px 0;
}

.EmptySearchCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 144px;
  color: lightgray;
}

.NoResultsCard {
  margin: 24px 0;
}

.Reviews {
  text-align: left;
}

.Reviews-toggle {
  background: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.ReviewPageHeader {
  padding: 24px 0;
}

.ReviewPageHeader-icon {
  color: #7a7b7c;
  margin: 0 12px;
  width: 24px;
}

.StarRatings {
  color: #F0E04B;
  display: flex;
  font-size: 32px;
  padding: 4px 0;
}

.large {
  font-size: 72px;
}

.StarRatings-stat {
  color: black;
  font-size: 24px;
  margin-left: 16px;
}

.ClassStats {
  margin: 24px 0;
}

.ClassStats-stat {
  color: #149650;
  font-size: 32px;
  margin-right: 12px;
}

.ReviewBreakdown {
  margin: 24px 0;
}

.Reviews-header {
  display: flex;
  justify-content: space-between;
}

.Reviews-SearchBar {
  flex-basis: 50%;
}

.ReviewCard {
  margin: 24px 0;
}

.Search-results:last-child {
  margin-bottom: 144px;
}

.ReviewCard-reviewer {
  flex-grow: 0.5;
  text-align: center;
}

.ReviewCard-reviewer-icon-anon {
  color: #707070;
  font-size: 84px;
  margin: 12px 0;
  justify-content: center;
}

.ReviewCard-reviewer-icon {
  color: #149650;
  font-size: 84px;
  margin: 12px 0;
  justify-content: center;
}

.ReviewCard-reviewer-info {
  flex-direction: column;
}

.ReviewCard-reviewer-badge {
  justify-content: center;
  margin-top: 12px;
}

.ReviewCard-review-body {
  margin: 12px 0 48px 0;
}

.ReviewCard-review-react {
  display: flex;
}

.ReviewCard-review-react-likes {
  margin: 0 6px;
}

.ReviewCard-review-react-dislikes {
  margin: 0 6px;
}

.ReviewCard-reviewer-info .card-subtitle {
  margin: 3px 0;
}

.ReviewCard-comment-toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 12px;
}

.ReviewCard-comment {
  margin: 12px 0;
}

.ReviewCard-comment:last-child {
  margin-bottom: 60px;
}

.Questions {
  margin-bottom: 480px;
}

.Questions-header {
  display: flex;
  justify-content: space-between;
  margin: 48px auto;
}

.Questions-NoResultsCard {
  margin: 48px 0;
}

.Questions-content {
  margin: 48px auto;
}

.Questions-card-header {
  background-color: #f8f9fa;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Questions-dropdown {
  font-size: x-large;
  flex-shrink: 0;
}

.Questions-answer-icon {
  font-size: x-large;
  flex-shrink: 0;
  margin-right: 12px;
}

.Questions-unanswered {
  background: #FFE6E6;
  color: #900;
}

.Questions-answer {
  margin-left: 24px;
  border-left: lightgray solid thin;
}

.Questions-ask-input-header {
  color: #0d6335;
}

.Questions-answer-input-header {
  color: #0d6335;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.Questions-answer-input {
  border-left: #0d6335 solid thin;
  margin: 0 0 12px 24px;
  padding-bottom: 8px;
}

.WriteReview-header {
  color: #0d6335;
  margin: 24px 0;
}

.WriteReview-class-header {
  display: flex;
  align-items: center;
}

.WriteReview-section{
  margin: 48px 0;
}

.WriteReview-section-title{
  color: #7a7b7c;
}
